mat-card {
  width: 95%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.btn{
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
